body{
	background-color: #F0F0F0;
}
.login {
	width: 160px;
	height: 210px;	
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left:10;
	margin-top: 50px;
	text-align: center;
	padding: 20px;
	
}
.login button{
	margin-top: 10px;
	width: 100px;
}